#palette {
    color: #33a0ff; color: #2e90e5; color: #eaf5ff;
    color: #ff4858; color: #f53848; color: #ffecee;
    color: #0ad00a; color: #07c107; color: #ebfae6;
    color: #ffc600; color: #ebb600; color: #fff9e5;
    color: #22262a; color: #13161a; color: #f6f7f8;
}

label {
    display: block;
    font-size: 12px;
}

input {
    display: block;
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 5px;
    margin: 2px;
}

select {
    display: block;
    border: 2px solid lightgray;
    border-radius: 2px;
    padding: 5px;
    margin: 2px;
    background-color: #fff;
}

button {
    display: inline;
    background-color: blue;
}

.TextInput {
    background-color: white;
}

.SelectInput {
    background-color: white;
}

.NumberInput {
    background-color: white;
}