button {
    border-radius: 2px;
    padding: 5px 25px;
    border: 2px solid;
    box-shadow: 1px 1px #bbb;
}

.button-large {
    padding: 10px 50px;
}

.button-primary {
    background-color: blue;
    border-color: blue;
    color: white;
} .button-primary:hover {background-color: darkblue; border-color: darkblue;}

.button-secondary {
    background-color: green;
    border-color: green;
    color: white;
}

.button-tertiary {
    background-color: yellow;
    border-color: yellow;
    color: black;
}
